@model List<astro>

@{
    Layout = "~/Views/Shared/minMall.cshtml";
}
<div class="minHeader">
    <a href="Bilder/minNyaHeader.jpg">
    </a>
</div>


<div class="content-view">
    <div class="read-more-content">
    </div>
</div>

<div class="content-view">
    <div class="read-more-content">

        <!-- Texten i paragraf1 + 2 är genererad med chatGPT -->
        <p id="paragraf1">
            Unlock the mysteries of the stars and explore the fascinating world of astrology with Alice Astrology. Our cosmic journey awaits you!<br><br>
            Are you curious about what the universe has in store for you? Discover your daily, monthly, and yearly horoscopes. Dive into the celestial wonders that influence your life and uncover the hidden connections between the planets and your destiny.<br><br>
            At Alice Astrology, we provide insightful and personalized astrological readings, empowering you to make informed decisions and navigate life's twists and turns.
        </p>

        <p id="paragraf2">
            Our team of experienced astrologers is dedicated to guiding you on your celestial path. Whether you're a seasoned stargazer or new to astrology, our website is your gateway to a deeper understanding of yourself and the cosmos.<br><br>
            Explore our informative articles, consult with our astrologers, and embark on a celestial journey that will illuminate your life. Join us on this cosmic adventure and let the stars be your guide. Welcome to Alice Astrology, where the wisdom of the stars comes alive
        </p>

        <button class="up-btn">Show less</button>
        <button class="down-btn">Show more</button>
    </div>
</div>

<!--Footer -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap" /></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023 Alice Astrology, Inc</span>
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/visaMerMindreKnapp.js"></script>
